
<div class="row">
    <div class="col-xs-12 one">

      
    
      
   

<div>
    <h1> DataBase System</h1>
    <p>Lorem, ipsum dolor. Lorem, ipsum dolor sit amet <br>consectetur adipisicing elit. Mollitia atque distinctio <br>unde sint nemo, illo quam ratione voluptate. 
      <br>Tenetur omnis qui numquam. Magni, repellat? <br>Modi officia veniam minus voluptates vel! </p>
  </div>
  <div>
    <img id="img1" src="https://images.unsplash.com/photo-1628258334105-2a0b3d6efee1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGJvb2tzJTIwYW5kJTIwbGFwdG9wfGVufDB8fDB8fHww=" alt="Image">
  </div>
</div>
</div>

