<div class="maindiv">
    <div class="main" *ngIf="task">
        
        <form [formGroup]="UpdatereactiveForm" (ngSubmit)="onupdatepost()" >
            <h1>Update Post</h1>
            
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text"  class="form-control" id="Name" formControlName="Name" placeholder="Enter Name"  >
    
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea class="form-control" id="Description" formControlName="Description" placeholder="Enter Description"></textarea>
    
            </div>
            <div class="form-group">
                <label for="Image_path">Image_Path</label>
                
                <input type="file" class="form-control" id="Image_path"  formControlName="Image_path">
            </div>
            
            <div class=form-row>
                <button type="submit" class="btn1 btn-primary" >Submit</button>
                <button type="reset" class="btn btn-primary" (click)="onCancel()">Cancel </button>
            </div>
            
        </form>
    </div>
    </div>