<div class="container">
  <div class="head">
    <div>
      <h3>Records Details</h3>
    </div>
    <div id="abc">
      <input type="text" [(ngModel)]="searchQuery" (input)="searchTask()" placeholder="Search" >
    </div>
    <button type="submit" class="btn1" (click)="openCreatePost()">Add New Record</button>
  </div>

  <table *ngIf="allTasks.length > 0"  >
    <thead>
      <tr>
        <th>Name</th>
        <th id="des">Description</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of filteredTasks">
        <td>{{ task.name || 'No name' }}</td>
        <td>{{ task.description || 'No description' }}</td>
        <td>
          
        {{task.image_path}}
          <!-- <img src="{{task.image_path}}" alt="img" style="width: 100px; height: 100px;"> -->
        </td>
        <td>
          <a (click)="openViewPost(task)"><i style="cursor: pointer;" id="one" class="bi bi-eye"></i></a>
          <a (click)="openUpdatePost(task)"><i style="cursor: pointer;" id="two" class="bi bi-pencil-square"></i></a>
          <a (click)="openDeletePost(task)"><i style="cursor: pointer;" id="three"class="bi bi-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      
      <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
        <a style="cursor: pointer;" class="page-link" (click)="previouspage()">Previous</a>
      </li>
      
      <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages}">
        <a style="cursor: pointer;" class="page-link" (click)="goToPage(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>
  
  <div *ngIf="allTasks.length === 0">
    <p>No records found</p>
  </div>

  <app-createpost *ngIf="formPopup" (formPopupChange)="closeCreatePost()"></app-createpost>
  <app-updatepost *ngIf="formPopupUpdate"[task]="selectedTask" (formPopupupdate)="closeUpdatePost()"></app-updatepost>
  <app-deletepost *ngIf="formPopupDelete" [task]="selectedTask" (formPopupdelete)="closeDeletePost()"></app-deletepost>
  <app-viewpost *ngIf="formPopupView"  [task]="selectedTask" (formpopupview)="closeViewPost()"></app-viewpost>
</div>


