.login-form{
    display: flex;
    margin: 50px;
    flex-direction: column;
   
    justify-content: center;
    padding: 20px;
    border: 1px solid #c5aa6a;
    /* background-color: #2E5266FF; */
    background-color: #CBE2B5;
    border-radius: 10px;
    width: 35%;
    height: 370px;
    margin:50px auto;
   
}
#link{
    color: black;
    margin-top: 10px;
    font-size: 14px;
}
#abc{
    color: #03346E;
    font-size: 15px;
    margin-top: 10px;
    
}
#abc:hover{
    color: #c5aa6a;
    cursor: pointer;

}
h1{
    padding-left: 130px;
    color: black;
   
    font-weight: bolder;
    font-size: 40px;
}

form hr {
    border: 1px solid black;
    margin: 10px 0;
    display: block;
    width: 100%;
}
.inlabels{

    color: black;
    margin-top: 20px;
}

.btn{
    /* background-color: #008C76FF; */
    background-color: #03346E;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.btn:hover{
    background-color:#DBB04AFF;
    color: black;
}
hr{
    background-color: white;
    height: 1px;
    border-top: 1px solid white;
  
}
/* ::ng-deep .ngx-toastr-custom{
    background-color: #e64343 !important;
    color: white !important;
    border-radius: 8px !important;
    padding-right:  150px !important;
    text-align: center !important;
    position: fixed !important;
    top: 20px !important;
    right: 20px !important;
    z-index: 9999 !important; 
    width: 200px !important;
    height: 100px !important;
    border: 1px solid white !important;
    
    font-size: 16px !important;
    font-weight: bold !important;
}
::ng-deep .ngx-toastr-success{
    background-color: #008C76FF !important;
    color: white !important;
    border-radius: 8px !important;
    padding: 10px !important;
    text-align: center !important;
    position: fixed !important;
    top: 20px !important;
    right: 20px !important;
    z-index: 9999 !important; 
    width: 300px !important;
    height: 100px !important;
    border: 1px solid white !important;
    font-size: 16px !important;
    font-weight: bold !important;
} */