<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form  class="login-form" [formGroup]="loginreactiveForm"  (ngSubmit)="onsubmitlogin() "> 
        <h1>Login</h1>
        <hr>
                    
        <label for="email" class="inlabels">Email</label>
        <input type="text" class="email" id="email" placeholder="Enter your email id" formControlName="email"  >
        <p *ngIf="loginreactiveForm.get('email').invalid && loginreactiveForm.get('email').touched" style="color: rgb(246, 29, 29);">Please Enter Valid</p>
        <label for="password" class="inlabels">Password</label>
        <input type="password" class="password" id="password" placeholder="Enter your password here" formControlName="password" minlength="8">
        <button type="submit"class="btn">Login</button>

        <p id="link">Don't have an account? <a routerLink='/Signup' id="abc">Signup</a></p>
        
</form>
        
        </div>
    </div>
</div>